build/popup-slider.html
<div class="popup popupNormal"><div class="popupSlider glide"><div class="glide__track" data-glide-el="track"><div class="glide__slides"><div class="glide__slide slide"><div class="popupSlide"><img src="img/slide_photo.jpg"></div></div><div class="glide__slide slide"><div class="popupSlide"><img src="img/slide_photo2.jpg"></div></div><div class="glide__slide slide"><div class="popupSlide"><img src="img/slide_photo3.jpg"></div></div></div></div><div class="popupSliderControls" data-glide-el="controls[nav]"><button class="popupSliderControl" data-glide-dir="=0">Photo #1</button><button class="popupSliderControl" data-glide-dir="=1">Photo #2</button><button class="popupSliderControl" data-glide-dir="=2">Photo #3</button></div></div><div class="popupContent"><h3>Thank you for joining us and celebrating MIPIM's 30th edition!</h3><p>Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!</p></div><div class="popupCases"> <div class="casesProjectBody"><p> Location:<span>Volga</span></p><p> Client:<span>Novaport</span></p><p> Address:<span>Volgograd</span></p><p> Total area:<span>9 200</span></p><p> Project status:<span>Finished</span></p><p> Spectrum Services:<span>General designer</span></p></div></div><div class="popupCloseWrap"><button class="popupClose"><svg class="icon-open"><use xlink:href="#icon-open"/></svg></button></div></div><link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

src/template/popup-slider.pug
mixin svgIcon(name)
    - idname = "#" + name
    svg(class=name)
        use(xlink:href=idname)

.popup.popupNormal
    .popupSlider.glide
        .glide__track(data-glide-el='track')
            .glide__slides
                .glide__slide.slide
                    .popupSlide
                        img(src="img/slide_photo.jpg")
                .glide__slide.slide
                    .popupSlide
                        img(src="img/slide_photo2.jpg")
                .glide__slide.slide
                    .popupSlide
                        img(src="img/slide_photo3.jpg")
        .popupSliderControls(data-glide-el='controls[nav]')
            button.popupSliderControl(data-glide-dir='=0') Photo #1
            button.popupSliderControl(data-glide-dir='=1') Photo #2
            button.popupSliderControl(data-glide-dir='=2') Photo #3


    .popupContent

        h3 Thank you for joining us and celebrating MIPIM's 30th edition!

        p Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!
    .popupCases  
        .casesProjectBody
            p 
                | Location:
                span Volga

            p 
                | Client:
                span Novaport

            p 
                | Address:
                span Volgograd

            p 
                | Total area:
                span 9 200

            p 
                | Project status:
                span Finished

            p 
                | Spectrum Services:
                span General designer

    .popupCloseWrap
        button.popupClose
            +svgIcon('icon-open')
