build/popup-normal.html
<div class="popup popupNormal"><div class="popupHeader"><h3>LEITENDER BAUINGENIEUR</h3></div><div class="popupContent"><h4>Thank you for joining us and celebrating MIPIM's 30th edition!</h4><p>Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!</p><p> Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. 400 Mitarbeiterinnen und Mitarbeitern in 4 Büros realisieren wir anspruchsvolle Projekte mit digitalen Planungsmethoden. Wir sind seit vielen Jahren (Autodesk) BIM Leader, denn BIM ist unser Alltag! <b>Zur Verstärkung und Weiterentwicklung unseres Teams am Standort Berlin suchen wir einen Diplomingenieur in leitender Funktion.</b></p><h4>Thank you for joining us and celebrating MIPIM's 30th edition!</h4><ul><li>Eigenverantwortliche Bearbeitung und Entwicklung komplexer Projekte in enger Zusammenarbeit mit unseren Planungsteams. </li><li>Leitung von projektbezogenen Teams auss Ingenieuren verschiedener Fachrichtungen, zusammenarbeit in einem internationalem Team.</li><li>Baukostenermittlung in verschiedenen Leistungsphasen. </li><li>Abstimmung und Koordination aller Planungsprozesse mit Bauherren, Behörden und Sonderfachingenieuren.</li><li>Mitwirken bei der Kundenakquisition und –betreuung</li><li>Vertragsverhandlungen und Projektcontrolling</li></ul><a href="#">LINK</a></div><div class="popupLine"></div><div class="popupCloseWrap"><button class="popupClose"><svg class="icon-open"><use xlink:href="#icon-open"/></svg></button></div></div><link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

src/template/popup-normal.pug
mixin svgIcon(name)
    - idname = "#" + name
    svg(class=name)
        use(xlink:href=idname)

.popup.popupNormal
    .popupHeader
        h3 LEITENDER BAUINGENIEUR
    .popupContent
        
        h4 Thank you for joining us and celebrating MIPIM's 30th edition!
        
        p Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!
        
        p 
            | Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. 400 Mitarbeiterinnen und Mitarbeitern in 4 Büros realisieren wir anspruchsvolle Projekte mit digitalen Planungsmethoden. Wir sind seit vielen Jahren (Autodesk) BIM Leader, denn BIM ist unser Alltag! 
            b Zur Verstärkung und Weiterentwicklung unseres Teams am Standort Berlin suchen wir einen Diplomingenieur in leitender Funktion.
        h4 Thank you for joining us and celebrating MIPIM's 30th edition!
        ul
            li Eigenverantwortliche Bearbeitung und Entwicklung komplexer Projekte in enger Zusammenarbeit mit unseren Planungsteams. 
            li Leitung von projektbezogenen Teams auss Ingenieuren verschiedener Fachrichtungen, zusammenarbeit in einem internationalem Team.
            li Baukostenermittlung in verschiedenen Leistungsphasen. 
            li Abstimmung und Koordination aller Planungsprozesse mit Bauherren, Behörden und Sonderfachingenieuren.
            li Mitwirken bei der Kundenakquisition und –betreuung
            li Vertragsverhandlungen und Projektcontrolling
        a(href="#") LINK
    .popupLine
    .popupCloseWrap
        button.popupClose
            +svgIcon('icon-open')
    
                
