build/popup-wide.html
<div class="popup popupWide"><div class="popupColumns"><div class="popupHalf"><div class="popupContent popupContentWhite"><h5>Ereignis</h5><h2>Thank you for joining us and celebrating MIPIM's 30th edition!</h2><div class="popupText"><p>Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!</p><a class="popupContentLink" href="#">LINK</a></div></div><div class="popupCloseWrap"><button class="popupClose popupCloseWhite"><svg class="icon-open"><use xlink:href="#icon-open"/></svg></button></div></div><div class="popupHalf"><div class="popupImage"><img src="/img/item.jpg" alt></div></div></div></div><link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

src/template/popup-wide.pug
mixin svgIcon(name)
    - idname = "#" + name
    svg(class=name)
        use(xlink:href=idname)

.popup.popupWide
    .popupColumns
        .popupHalf
            .popupContent.popupContentWhite
                h5 Ereignis
                h2 Thank you for joining us and celebrating MIPIM's 30th edition!
                .popupText
                    p Spectrum ist eine international agierende Planungsgesellschaft mit über 20 Jahren Erfahrung und rund 600 realisierten Projekten in allen Segmenten der Immobilienbranche. Mit gegenwärtig ca. Alltag!
                    a(href="#").popupContentLink LINK
            .popupCloseWrap
                button.popupClose.popupCloseWhite
                    +svgIcon('icon-open')
        .popupHalf
            .popupImage
                img(src="/img/item.jpg", alt="")
                
